{% extends "inc/base.html" %}
{% load static %}


{% block navbar %}
    {% include "inc/navbar_in.html" %}
{% endblock navbar %}


{% block content %}

    <h2 class="mt-5">Questions</h2>

    {% for question in questions %}
        {% include "inc/question.html" %}
    {% endfor %}

{% endblock content %}


{% block side_panel %}
    {% include "inc/sidebar.html" %}
{% endblock side_panel %}


{% block bottom_panel %}
    <nav aria-label="Page navigation example">
        {% include "inc/paginator.html" %}
    </nav>
{% endblock bottom_panel %}

