{% extends "inc/base.html" %}
{% load static %}


{% block navbar %}
    {% include "inc/navbar_out.html" %}
{% endblock navbar %}


{% block content %}

    <h2 class="mt-5">Log in</h2>

    <form>
        <div class="mb-3">
            <label for="exampleInputLogin1" class="form-label">Login</label>
            <input type="email" class="form-control" id="exampleInputLogin1">
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>

        <a class="btn btn-success" href="{% url "index" %}" role="button">Log in</a>
        <a class="btn btn-primary" href="{% url "register" %}" role="button">Register</a>

    </form>

{% endblock content %}


{% block side_panel %}
    {% include "inc/sidebar.html" %}
{% endblock side_panel %}


{% block bottom_panel %}

{% endblock bottom_panel %}
