{% load static %}

<div class="right-column">

    <h2>Hot Questions <a href="{% url "hot" %}" class="btn btn-warning">Click!</a></h2>

</div>

<div class="right-column">
    <div class="mt-5">
        <h2>Tags</h2>
        <div class="popular-tags-list">

            {% for question in questions %}
                {% for tag in question.tags.all %}
                    <a href="{% url 'tag' tag.title %}">{{ tag.title }}</a>
                {% endfor %}
            {% endfor %}

        </div>
    </div>
</div>

<h2 class="mt-5">Best Members</h2>

<div class="row justify-content-around">
    {% for question in questions %}
            <a> {{ question.author }}</a>
    {% endfor %}
</div>
